[defaults]
inventory = inventories/lab.example.ini
collections_path = ./collections:~/.ansible/collections
roles_path = ./roles:./collections/ansible_collections/rajat/platform_bootstrap/roles
stdout_callback = default
interpreter_python = auto_silent
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = True
collections_on_ansible_version_mismatch = warning

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[galaxy]
server_list = release_galaxy

[galaxy_server.release_galaxy]
url = https://galaxy.ansible.com/
